html {
	font-family: "Tw Cen MT", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-align: justify;
	color: black;
}

img {
	width: 100%;
	height: auto;
}

body {
	background-image: url("/images/webpage_bckgrnd.jpg");
}

#favorites {
	border-collapse: separate;
	border-spacing: 5px;
	font-size: 1rem;
	text-align: center;
}

#login {
	text-align: right;
	float: right;
	margin-right: 10px;
}

#login img {
	max-width: 100%;
	height: 100%;
}

td {
	text-align: left;
}

.game_info {
	text-align: center;
}

.hint {
	text-align: left;
	position: absolute;
	display: inline;
}

.centered {
	text-align: center;
}

.col-4 {
	justify-content: center;
}

.container {
	position: relative;
}

.mines_table {
	margin: auto;
	line-height: 0;
}

.memos_table {
	margin: auto;
	line-height: 0;
	border: collapse;
}

.slider_table {
	margin: auto;
	line-height: 0;
	border: collapse;
}

.guess_table {
	margin: auto;
	text-align: center;
}

.puzzle_table {
	table-layout: fixed; width : 5rem;
	font-size: 3rem;
	margin: auto;
}

.puzzle_table td {
	text-align: center;
	width: 5rem;
}

.user_input {
	text-align: right;
}

.col-4 div {
	margin: auto;
	text-align: center;
}

.row img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.log {
	position: relative;
	right: 10px;
	padding: 10px;
	text-align: center;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.footer {
	text-align: center;
}

.header {
	text-align: right;
	background-image: url("/images/header_bckgrnd.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
	line-height: normal;
	color: white;
}

.ratingInt {
	text-align: center;
}