<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1"></meta>
<title th:text='${game}' />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="/css/gameStudio.css" />
</head>
<body>

	<div th:replace="fragments::nice_header"></div>

	<div class="guess_table"
		th:if='${controller.gameState.equals(T(gamestudio.game.guessnumber.core.GameState).PLAYING)}'>
		<p th:utext='${controller.render()}' />
	</div>

	<div class="centered">
		<b><p th:utext='${controller.message}' /></b>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">
				<form action="/guess_new">
					<input class="centered" type="submit" value="New game" />
				</form>
			</div>
			<div class="col-4"></div>
		</div>
	</div>

	<hr></hr>

	<div class="container">
		<div class="row">
			<div th:replace="fragments::favorite"></div>
			<div th:replace="fragments::rating"></div>
			<div th:replace="fragments::score_table"></div>
			<div th:replace="fragments::comments"></div>
		</div>
	</div>

	<div th:replace="fragments::nice_footer"></div>
</body>
</html>