<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" href="/css/gameStudio.css" />
<title>Memos</title>
<link rel="stylesheet" href="css/bootstrap.css"></link>
</head>
<body>

	<div th:replace="header::nice_header"></div>

	<div class="memos_table">
		<p th:utext='${memosController.render()}' />
	</div>

	<div class="centered">
		<p th:utext='${memosController.message}' />
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4">
				<form action="/memos_beginner">
					<input type="submit" value="New beginner game" />
				</form>
			</div>
			<div class="col-4">
				<form action="/memos_intermediate">
					<input type="submit" value="New intermediate game" />
				</form>
			</div>
			<div class="col-4">
				<form action="/memos_expert">
					<input type="submit" value="New expert game" />
				</form>
			</div>
		</div>
	</div>

	<hr></hr>

	<div class="container">
		<div class="row">
			<div class="col-2" th:if='${@userController.logged}'>
				<p class="ratingInt">
					<b>Is this game your favorite?</b>
				</p>
				<p th:if='${memosController.favorite}'>
					<a href='memos_favorite'><img src="/images/isFavorite.png"
						style="width: 60px; height: 60px;" /></a>
				</p>
				<p th:if='${not memosController.favorite}'>
					<a href='memos_favorite'><img src="/images/notFavorite.png"
						style="width: 60px; height: 60px;" /></a>
				</p>
			</div>
			<div class="col-1" th:if='${@userController.logged}'>
				<p class="ratingInt">
					<b>Your rating</b> <span><a href='memos_set_rating?value=1'><img
							th:if='${userRating >= 1}' src="/images/istar1.png" alt="star"
							style="width: 40px; height: 35px;" /><img
							th:if='${not (userRating >= 1)}' src="/images/star1.png"
							alt="star" style="width: 40px; height: 35px;" /></a><a
						href='memos_set_rating?value=2'><img
							th:if='${userRating >= 2}' src="/images/istar2.png" alt="star"
							style="width: 40px; height: 35px;" /><img
							th:if='${not (userRating >= 2)}' src="/images/star2.png"
							alt="star" style="width: 40px; height: 35px;" /></a><a
						href='memos_set_rating?value=3'><img
							th:if='${userRating >= 3}' src="/images/istar3.png" alt="star"
							style="width: 40px; height: 35px;" /><img
							th:if='${not (userRating >= 3)}' src="/images/star3.png"
							alt="star" style="width: 40px; height: 35px;" /></a><a
						href='memos_set_rating?value=4'><img
							th:if='${userRating >= 4}' src="/images/istar4.png" alt="star"
							style="width: 40px; height: 35px;" /><img
							th:if='${not (userRating >= 4)}' src="/images/star4.png"
							alt="star" style="width: 40px; height: 35px;" /></a><a
						href='memos_set_rating?value=5'><img
							th:if='${userRating >= 5}' src="/images/istar5.png" alt="star"
							style="width: 40px; height: 35px;" /><img
							th:if='${not (userRating >= 5)}' src="/images/star5.png"
							alt="star" style="width: 40px; height: 35px;" /></a></span>
				</p>
			</div>
			<div class="col-3">
				<ol>
					<table>
						<tr>
							<th>Top scores</th>
						</tr>
						<tr th:each='score : ${scores}'>
							<td>
								<li><span th:text='${score.username}'></span></li>
							</td>
							<td th:text='${score.value}' />
						</tr>
					</table>
				</ol>
			</div>
			<div class="col-6">
				<table>
					<tr>
						<th>User comments</th>
					</tr>
					<tr th:each='comment : ${comments}'>
						<td th:text='${comment.username}' />
						<td th:text='${comment.content}' />
					</tr>
				</table>
				<form th:if='${@userController.logged}' action="/memos_comment"
					method="post">
					<input type="text" name="content"
						placeholder="Enter your comment here"></input> <input
						type="submit" value="Comment"></input>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="footer::nice_footer"></div>

</body>
</html>