<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1"></meta>
<title th:text='${game}' />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="/css/gameStudio.css" />
</head>
<body>

	<div th:replace="fragments::nice_header"></div>

	<div class="puzzle_table">
		<p th:utext='${controller.render()}' />
	</div>

	<div class="centered">
		<p th:utext='${controller.message}' />
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4">
				<form action="/puzzle_beginner">
					<input type="submit" value="New beginner game" />
				</form>
			</div>
			<div class="col-4">
				<form action="/puzzle_intermediate">
					<input type="submit" value="New intermediate game" />
				</form>
			</div>
			<div class="col-4">
				<form action="/puzzle_expert">
					<input type="submit" value="New expert game" />
				</form>
			</div>
		</div>
	</div>

	<hr></hr>

	<div class="container">
		<div class="row">
			<div th:replace="fragments::favorite"></div>
			<div th:replace="fragments::rating"></div>
			<div th:replace="fragments::score_table"></div>
			<div th:replace="fragments::comments"></div>
		</div>
		<div th:replace="fragments::nice_footer"></div>
	</div>
</body>
</html>