<!DOCTYPE html>

<html>
<head>
<title>Register</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css"></link>
<link rel="stylesheet" href="./css/gameStudio.css" />
</head>
<body>
	<div th:replace="header::nice_header"/>
	
	<form>
		Choose your login: <input type="text" name="login" /><br /> Choose your password:
		<input type="password" name="password" /><br /> Repeat password:
		<input type="password" name="rpassword" /><br /> <input action="/register" method="post" type="submit"
			value="Register new player" />
	</form>
	
	<p th:utext='${@userController.message}'></p>

	<div th:replace="footer::nice_footer"/>

</body>
</html>