<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css"></link>
<link rel="stylesheet" href="css/gameStudio.css" />
</head>
<body>
	<div th:replace="fragments::nice_header"></div>

	<form class="user_input" action="/register" method="POST"
		onsubmit="return checkForm(this);">
		<b>Choose your login</b> (not empty): <input type="text" name="login"
			autofocus='autofocus' /><br /> <b>Choose your password</b> (at
		least 1UpperCase, 1LowerCase, 1Number, 6MinLength): <input
			type="password" name="password" /><br /> <b>Retype password:</b> <input
			type="password" name="rpassword" /><br /> <input type="submit"
			value="Register new player" />
	</form>

	<div th:replace="fragments::nice_footer"></div>

	<script src="js/gamestudio.js"></script>

</body>
</html>