<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1"></meta>
<title th:text='${game}' />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="/css/gameStudio.css" />
</head>
<body>

	<div th:replace="fragments::nice_header"></div>

	<div class="slider_table">
		<span>
			<div class="row">
				<div class="col-8">
					<p th:utext='${controller.render()}' />
				</div>
				<div class="hint">
					<img th:src='${controller.hint()}' height="200" width="200" />
				</div>
			</div>
		</span>
	</div>

	<div class="centered">
		<b><p th:utext='${controller.message}' /></b>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-4">
				<form action="/slider_beginner">
					<input type="submit" value="New beginner game" />
				</form>
			</div>
			<div class="col-4">
				<form action="/slider_intermediate">
					<input type="submit" value="New intermediate game" />
				</form>
			</div>
			<div class="col-4">
				<form action="/slider_expert">
					<input type="submit" value="New expert game" />
				</form>
			</div>
		</div>
	</div>

	<hr></hr>

	<div class="container">
		<div class="row">
			<div th:replace="fragments::favorite"></div>
			<div th:replace="fragments::rating"></div>
			<div th:replace="fragments::score_table"></div>
			<div th:replace="fragments::comments"></div>
		</div>
	</div>
	<div th:replace="fragments::nice_footer"></div>
</body>
</html>